openapi: 3.1.0

info:
  title: Vote for Julia API
  version: '1.0.0'
  description: |
    Form-submission backend for the Julia Hamann for Mankato Mayor campaign site.

    The API accepts two supporter-facing submissions — the contact/volunteer form
    and the yard-sign request form. Each accepted submission is emailed to the
    campaign, acknowledged with a confirmation email to the submitter, and
    appended as a row to a Google Sheet.

    ### Requests

    Every submission endpoint accepts **either** a JSON body
    (`application/json`) **or** an HTML form post
    (`application/x-www-form-urlencoded` / `multipart/form-data`). Field names
    are identical in both encodings; the form encoding exists so the site's
    `<form>` elements still submit with JavaScript disabled, in which case the
    browser posts them here directly — their `action` is an absolute URL to
    this origin, because the site is served from a different host that proxies
    nothing. If the body is neither valid JSON nor form data, the request fails
    with `400`.

    ### Text normalization

    Every string field is trimmed of leading/trailing spaces and tabs (newlines
    are *not* trimmed) before validation, and all length limits below apply to
    the normalized value. Control characters are rejected everywhere; only
    `message` may contain newlines.

    ### Authentication

    None. The endpoints are public and protected by CORS plus per-IP rate
    limiting.
  contact:
    name: Vote for Julia
    email: info@voteforjulia.com

servers:
  - url: https://api.voteforjulia.com
    description: Production
  - url: https://test-api.voteforjulia.com
    description: Test/staging
  - url: http://localhost:5000
    description: Local development (`python -m api.app`; override with `PORT`)

tags:
  - name: Forms
    description: Supporter form submissions.
  - name: Ops
    description: Health and diagnostics.

paths:
  /health:
    get:
      tags: [Ops]
      summary: Health check
      description: |
        Liveness probe. Also echoes the request path and WSGI `SCRIPT_ROOT`,
        which is how the deployed mount point is verified — under Passenger the
        app may be served from a subdirectory, and `script_root` reveals which.
      operationId: healthCheck
      responses:
        '200':
          description: The service is up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /health/deep:
    get:
      tags: [Ops]
      summary: Dependency health check
      description: |
        Verifies the two dependencies `/health` deliberately does not touch:
        SMTP authentication (connect and `LOGIN`, sending no mail) and Google
        Sheets access (a metadata read on the configured spreadsheet).

        Exists because `/health` can be green while every form on the site
        fails — which is what happened when a rotated `EMAIL_PASSWORD` reached
        the app truncated. Intended for a synthetic monitor, and rate limited
        like the form endpoints because each call does real network I/O.

        Failures report `fail` and nothing more; the underlying exception text
        quotes credentials and is logged server-side only. The deploy pipeline
        checks `/health`, not this — a mail-server blip must not fail a deploy.
      operationId: deepHealthCheck
      responses:
        '200':
          description: Both dependencies are reachable and authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepHealthStatus'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: At least one dependency failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepHealthStatus'

  /send-email:
    post:
      tags: [Forms]
      summary: Submit the contact / volunteer form
      description: |
        Validates the submission, emails it to `RECIPIENT_EMAIL`, sends the
        submitter a confirmation, and appends a row to the configured Google
        Sheet.

        `firstName` and `email` are required. A confirmation email that fails to
        send is logged but does **not** fail the request; a Google Sheets append
        that fails does (`502`), because the submission is then only in email.
      operationId: sendEmail
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactSubmission'
            examples:
              volunteer:
                summary: Volunteer signing up to help
                value:
                  firstName: Alex
                  lastName: Rivera
                  email: alex@example.com
                  phone: '507-555-0142'
                  helpWays: [Canvassing, Events]
                  message: Happy to help on weekends.
              minimal:
                summary: Minimum accepted payload
                value:
                  firstName: Alex
                  email: alex@example.com
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ContactSubmission'
            encoding:
              helpWays:
                style: form
                explode: true
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ContactSubmission'
      responses:
        '200':
          $ref: '#/components/responses/Sent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerMisconfigured'
        '502':
          $ref: '#/components/responses/UpstreamFailed'
    options:
      tags: [Forms]
      summary: CORS preflight
      operationId: sendEmailPreflight
      responses:
        '204':
          $ref: '#/components/responses/Preflight'

  /yard-sign:
    post:
      tags: [Forms]
      summary: Submit a yard-sign request
      description: |
        Same pipeline as `/send-email`, but notifications go to
        `RECIPIENT_EMAIL_SIGNS` (falling back to `RECIPIENT_EMAIL` when unset)
        and rows are appended to the `Yard Signs` worksheet.

        `firstName`, `email`, and `address` are required.
      operationId: yardSign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/YardSignRequest'
            examples:
              request:
                summary: Yard-sign request paying by check
                value:
                  firstName: Sam
                  lastName: Okafor
                  email: sam@example.com
                  phone: '507-555-0199'
                  address: 123 Riverfront Dr, Mankato, MN 56001
                  preferredPayment: [Check]
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/YardSignRequest'
            encoding:
              preferredPayment:
                style: form
                explode: true
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/YardSignRequest'
      responses:
        '200':
          $ref: '#/components/responses/Sent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerMisconfigured'
        '502':
          $ref: '#/components/responses/UpstreamFailed'
    options:
      tags: [Forms]
      summary: CORS preflight
      operationId: yardSignPreflight
      responses:
        '204':
          $ref: '#/components/responses/Preflight'

components:
  schemas:
    HealthStatus:
      type: object
      required: [status, path, script_root]
      properties:
        status:
          type: string
          const: ok
        path:
          type: string
          description: The path Flask matched.
          examples: ['/health']
        script_root:
          type: string
          description: WSGI `SCRIPT_ROOT` — the prefix the app is mounted under.
          examples: ['']
      examples:
        - status: ok
          path: /health
          script_root: ''

    DeepHealthStatus:
      type: object
      required: [status, smtp, sheets]
      description: |
        `status` is `ok` only when both dependencies pass; any `fail` makes it
        `degraded` and the response a 503.
      properties:
        status:
          type: string
          enum: [ok, degraded]
        smtp:
          type: string
          enum: [ok, fail]
          description: SMTP connect and authenticate. No mail is sent.
        sheets:
          type: string
          enum: [ok, fail]
          description: Metadata read on the configured spreadsheet.
      examples:
        - status: ok
          smtp: ok
          sheets: ok
        - status: degraded
          smtp: fail
          sheets: ok

    NameFields:
      type: object
      description: |
        Name handling shared by both forms. Send `firstName` (+ optional
        `lastName`), which is what the site's forms do.

        If neither `firstName` nor `lastName` is present, `name` is split on the
        first run of whitespace into first/last. If either *is* present, they
        win and `name` is ignored for the split. Independently, the full name
        recorded in the notification email is `name` when supplied, otherwise
        `firstName` and `lastName` joined with a space.
      properties:
        firstName:
          type: string
          maxLength: 80
          description: Required (after trimming) unless supplied via `name`.
          examples: [Alex]
        lastName:
          type: string
          maxLength: 80
          examples: [Rivera]
        name:
          type: string
          description: |
            Full name. Accepted as an alternative to `firstName`/`lastName`;
            the site posts it as a hidden field alongside them.
          examples: [Alex Rivera]

    HoneypotField:
      type: object
      properties:
        referralCode:
          type: string
          description: |
            Anti-spam honeypot (ADR-0016). Both forms render this as a
            `display: none` input that no person can see, focus or tab into, so
            a request that carries a non-empty value did not come from someone
            using the site.

            **Send it empty or omit it.** A non-empty value is refused with
            `400` before any mail is sent, and the body is written to the
            application log so a false positive stays recoverable. Setting
            `HONEYPOT_ENFORCED=false` keeps the logging but stops the rejection,
            so the check can be switched off without a deploy.

            Documented rather than hidden: an undocumented field that rejects
            requests is worse for a legitimate client than a known one, and a
            spam bot does not read specifications.
          examples: ['']

    ContactSubmission:
      allOf:
        - $ref: '#/components/schemas/NameFields'
        - $ref: '#/components/schemas/HoneypotField'
        - type: object
          properties:
            email:
              type: string
              format: email
              maxLength: 254
              description: Required. Must match the server's email pattern.
              examples: [alex@example.com]
            phone:
              type: string
              maxLength: 32
              description: Free-form; not parsed or normalized beyond trimming.
              examples: ['507-555-0142']
            message:
              type: string
              maxLength: 500
              description: The only field that may contain newlines.
            helpWays:
              description: |
                Ways the supporter wants to help. Accepts a JSON array of
                strings, or a comma-separated string, or (in form encoding)
                repeated `helpWays[]` fields. `helpWays[]` is also accepted as a
                JSON key. Max 10 entries, 100 characters each.

                The site's checkboxes submit: `Canvassing`, `Events`,
                `Letter to the editor`, `Fundraiser`, `Campaign team` — but the
                API accepts any strings within the limits.
              oneOf:
                - type: array
                  maxItems: 10
                  items:
                    type: string
                    maxLength: 100
                - type: string
              examples:
                - [Canvassing, Events]

    YardSignRequest:
      allOf:
        - $ref: '#/components/schemas/NameFields'
        - $ref: '#/components/schemas/HoneypotField'
        - type: object
          properties:
            email:
              type: string
              format: email
              maxLength: 254
              description: Required.
              examples: [sam@example.com]
            phone:
              type: string
              maxLength: 32
              examples: ['507-555-0199']
            address:
              type: string
              maxLength: 200
              description: Required. Where the sign should be delivered.
              examples: [123 Riverfront Dr, Mankato, MN 56001]
            preferredPayment:
              description: |
                Accepts a JSON array of strings, a comma-separated string, or
                repeated `preferredPayment[]` fields. `preferredPayment[]` is
                also accepted as a JSON key. Max 3 entries, 20 characters each.

                The site's checkboxes submit: `Online`, `Cash`, `Check`,
                `Already Donated`.
              oneOf:
                - type: array
                  maxItems: 3
                  items:
                    type: string
                    maxLength: 20
                - type: string
              examples:
                - [Check]

    SuccessResponse:
      type: object
      required: [message]
      properties:
        message:
          type: string
          const: Email sent successfully!

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable message, safe to show to the submitter.

  responses:
    Sent:
      description: |
        Submission accepted: the notification email was accepted by the SMTP
        server and the row was appended to the sheet.
      headers:
        Vary:
          $ref: '#/components/headers/Vary'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/AccessControlAllowOrigin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessResponse'

    BadRequest:
      description: |
        The request was rejected before anything was sent, so the submitter
        still has their data.

        Every case below except one names the field at fault and is fixed by
        correcting it and retrying. The exception is the honeypot: the field it
        objects to is invisible to the submitter, so there is nothing for them
        to correct, and the message points them at email instead. Do not present
        that one as a form validation error.
      headers:
        Vary:
          $ref: '#/components/headers/Vary'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/AccessControlAllowOrigin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unparseable:
              summary: Body is neither JSON nor form data
              value:
                error: Request body must be valid JSON or form data.
            missingFields:
              summary: Required field blank or absent
              value:
                error: First name and email are required.
            missingYardSignFields:
              summary: Required yard-sign fields absent
              value:
                error: Email and Address are required.
            tooLong:
              summary: A field exceeds its length limit
              value:
                error: Message must be 500 characters or fewer.
            controlChars:
              summary: A field contains control characters
              value:
                error: Email contains invalid characters.
            badEmail:
              summary: Email is well-formed text but not an address
              value:
                error: Please provide a valid email address.
            honeypot:
              summary: The hidden anti-spam field was filled in
              value:
                error: >-
                  We could not process this submission. Please email
                  info@voteforjulia.com and we will follow up personally.

    PayloadTooLarge:
      description: |
        The request body exceeds `MAX_REQUEST_BYTES` (65536 by default) and was
        refused before being buffered or parsed. The forms' combined field
        limits come to roughly 1.5KB, so nothing a supporter can legitimately
        submit reaches this.

        The message is Werkzeug's own, not one of the API's — see
        `#/components/responses/FrameworkError`.
      headers:
        Vary:
          $ref: '#/components/headers/Vary'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/AccessControlAllowOrigin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: The data value transmitted exceeds the capacity limit.

    FrameworkError:
      description: |
        Errors raised by the framework rather than by a handler — an unrouted
        path (`404`), a wrong method (`405`), an oversized body (`413`), and an
        unhandled exception (`500`). All are rendered into the same
        `{"error": …}` shape as every other response so a client can parse the
        error path without special-casing it; `Allow` and other meaningful
        headers are preserved.

        The `error` text in these is Werkzeug's stock description and is not
        part of the API's contract — it is generic by construction and never
        derived from the request. Match on the status code, not the string.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: |
        Too many submissions from this client. Two limits apply, both per
        endpoint and per client IP, and either can produce this response:

        - **Burst** — 5 requests per 60 seconds by default
          (`RATE_LIMIT_MAX_REQUESTS` / `RATE_LIMIT_WINDOW_SECONDS`).
        - **Sustained** — 10 requests per 3600 seconds by default
          (`LONG_RATE_LIMIT_MAX_REQUESTS` / `LONG_RATE_LIMIT_WINDOW_SECONDS`).

        `/health/deep` is polled on a schedule rather than by people, so it gets
        a larger sustained allowance of 30 per hour
        (`HEALTH_LONG_RATE_LIMIT_MAX_REQUESTS`). The form endpoints' figure is
        sized against "a supporter submits one form once" and would 429 a
        synthetic monitor, which is a false alert rather than a blocked spammer.

        The second tier exists because the first cannot see a patient caller.
        The 2026-08-10 abuse ran 43 submissions over roughly two hours without
        ever exceeding three in any single minute, so the per-minute limit never
        fired. See ADR-0016.

        The client is identified by the socket address. Forwarding headers are
        **not** trusted: nothing sits in front of this API to overwrite them, so
        `CF-Connecting-IP` and `X-Forwarded-For` are only ever the caller's own
        claim, and honouring one let any caller mint a fresh bucket per request.
        Setting `TRUSTED_CLIENT_IP_HEADER` to the header a real proxy overwrites
        makes that header authoritative (its **last** hop); no other header is
        consulted. See ADR-0014.

        The burst tier counts in process memory, so it is per-worker and resets
        on restart. The sustained tier counts in SQLite under the app's `tmp/`
        directory, because Passenger reaps idle workers and an hour-long window
        held in memory would restart with them. If that store cannot be reached
        the sustained tier fails open and only the burst tier applies.

        `Retry-After` is rounded up, so honouring it exactly is enough to clear
        the window.
      headers:
        Retry-After:
          description: Seconds until the oldest request leaves the window.
          schema:
            type: integer
            minimum: 1
          example: 42
        Vary:
          $ref: '#/components/headers/Vary'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/AccessControlAllowOrigin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error: Too many requests. Please try again later.

    ServerMisconfigured:
      description: |
        The server could not process the submission. Checked *before* the body
        is parsed, so a misconfigured deployment returns this even for an
        invalid payload.
      headers:
        Vary:
          $ref: '#/components/headers/Vary'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/AccessControlAllowOrigin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            notConfigured:
              summary: Missing or invalid credentials/recipients
              value:
                error: Email service is not configured.
            invalidSmtpConfig:
              summary: Unparseable SMTP_PORT / SMTP_SECURITY
              value:
                error: Server email configuration is invalid.
            unexpected:
              summary: Unhandled exception
              value:
                error: Internal server error.

    UpstreamFailed:
      description: |
        A downstream service failed after the request was accepted as valid. The
        submission is lost, so the server logs the raw request body (truncated
        at 4096 characters) as the only remaining copy.

        `Email sent, but failed to save submission.` is the partial-success
        case: the campaign got the email, the spreadsheet did not get the row.
      headers:
        Vary:
          $ref: '#/components/headers/Vary'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/AccessControlAllowOrigin'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            smtpUnavailable:
              summary: SMTP auth failure or transport error
              value:
                error: Unable to send email right now.
            recipientRefused:
              summary: SMTP server refused every recipient
              value:
                error: Unable to deliver email to recipient.
            sheetsFailed:
              summary: Email sent, Google Sheets append failed
              value:
                error: Email sent, but failed to save submission.

    Preflight:
      description: |
        Empty preflight response. The CORS headers are attached by an
        `after_request` hook and are present only when the `Origin` header
        matches `CORS_ALLOWED_ORIGINS`.
      headers:
        Vary:
          $ref: '#/components/headers/Vary'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/AccessControlAllowOrigin'
        Access-Control-Allow-Methods:
          description: Present only for an allowed origin.
          schema:
            type: string
            const: POST, OPTIONS
        Access-Control-Allow-Headers:
          description: |
            Present only for an allowed origin. The trace headers are there so
            a browser AJAX call and the API transaction it triggers join into
            one distributed trace.
          schema:
            type: string
            const: Content-Type, newrelic, traceparent, tracestate
        Access-Control-Max-Age:
          description: Present only for an allowed origin.
          schema:
            type: string
            const: '86400'

  headers:
    Vary:
      description: |
        Always includes `Origin` — on rejected origins too, so a shared cache
        cannot serve one origin's response to another.
      schema:
        type: string
      example: Origin

    AccessControlAllowOrigin:
      description: |
        Echoes the request's `Origin` when it is in `CORS_ALLOWED_ORIGINS`.
        Omitted entirely otherwise. Defaults to the production, www, test, and
        test-api origins plus `http://localhost:5173`.
      schema:
        type: string
      example: https://voteforjulia.com
